<footer class="row-footer">
        <div class="container">
            <div class="row">             
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a ui-sref="app">Home</a></li>
                        <li><a ui-sref="app.list">List</a></li>
                        <li><a ui-sref="app.stats">Stats</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address style="font-size: 100%">
		              302, Rose 3rd Cross, Borewell Rd,<br>
		              near Yourstay Whitefield, Victorian View Layout,<br>
		              Whitefield, Bangalore<br>
		              <i class="fa fa-phone"></i>: +91 9900664849<br>
		              <i class="fa fa-fax"></i>: +91 7975766119<br>
		              <i class="fa fa-envelope"></i>: 
                      <a href="mailto:chiru.swapnil@gmail.com">chiru.swapnil@gmail.com</a>
		           </address>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-primary" href="tel:+919900664849"><i class="fa fa-phone"></i> call</a>
                        <a type="button" class="btn btn-success" href="mailto:chiru.swapnil@gmail.com"><i class="fa fa-envelope-o"></i> email</a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2017 Twitter Matrix</p>
                </div>
            </div>
        </div>
    </footer>