<div class="jumbotron1">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-6">
                    <img class="img-responsive" src="images/analytics.png">
                </div>
                
                <div class="col-xs-6">
                    <p style="padding:80px;"></p>
                    <h2 class="pull-right black">Boost your impact on Twitter.</h2>
                    
<!--                    <p class="pull-right">Measure and boost your impact on Twitter.</p>-->
                </div>
                
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
</div>